button{
    background-color: #0695d6;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 16px 25px;
    border-radius: 0.25rem;
    border: none;
}

button:hover{
    background-color: #0695d6;
    background-color: #0695d6;
}
.pay_button{
    width: 50%;
}
.cancel_button{
    background-color: #767676;
    color: #fff;
    margin-right: 0.5rem;
    margin-left: 29rem;
}
.save_button{
    background-color: #33b560;
}
@media screen and (max-width:48rem){
    .pay_button{
        width: 100%;
    }  
    .cancel_button{
        margin-left: 0;
    }
}
