.second_container{
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1.1rem;
    padding: 8px 8px;
    min-height: 8rem;
    margin-bottom: 2rem;
}
.second_container:hover .cuil,.second_container:hover .mail,.second_container:hover .address{
    color: #fff!important;
}
.second_container:hover .last_name_first_name{
    color: #000;
}