.personal_data{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    animation: createBox .75s;
}
@keyframes createBox {
    from {
      transform: scale(1,0);
    }
    to {
      transform: scale(1,1);
    }
  }
.personal_data>div>p{
    text-align: left;
}

.half_width{
    width: 48%;
    margin-right: 0.5rem;
}
.third_width{
    width: 32%;
    margin-right: 0.5rem;
}
.full_width{
    width: 98%;
}
@media screen and (max-width:48rem){
    .half_width,.third_width{
        width: 100%;
    }  
}
